{{define "nav-main"}}
<nav>
    <ul>
        
        <li><a href="/link1">LINK1</a></li>
        <li><a href="/link2">LINK2</a></li>
        <li><a href="/link3">LINK3</a></li>
        <li><a href="/link4">LINK4</a></li>
        <li><a href="/link5">LINK5</a></li>
    </ul>
</nav>
{{end}}
